
        <div *ngFor="let item of employees" class="card align-items-center justify-content-center mt-5" style="width: 18rem;">
            <img class="card-img-top" src="{{images[random()]}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">TeamName: {{item.name}}</h5>
              <h5 class="card-title">Members Count: {{item.memberCount}}</h5>
              <h5 class="card-title">Projects Count: {{item.projectCount}}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
